<!-- Vertical layout -->
<!-- @if(isVerticalLayoutRequested()){
<app-vertical></app-vertical> -->
 <!-- <app-sidebar-admin></app-sidebar-admin> -->
<!-- } -->

<!-- Horizontal layout -->
<!-- @if(isHorizontalLayoutRequested()){ -->
<!-- <app-horizontal></app-horizontal> -->
<app-horizontal-entreprises></app-horizontal-entreprises>
<!-- } -->
<!-- Two Columns layout -->
  <!-- @if(isTwoColumnLayoutRequested()){
<app-two-column></app-two-column> -->
<!-- } -->
<!-- Semibox layout -->
<!-- @if(isSemiboxLayoutRequested()){
<app-vertical></app-vertical>} -->  